<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
</head>
<body>
Please login first!
<form  action='index.html' method="post" >{% csrf_token %}
  <p>Username: <input type="text" name="username" /></p>
  <p>Password: <input type="password" name="password" /></p>
  <input class='btn btn-primary' type="submit" value="Login" />
</form>
<a class='btn btn-primary' href="register.html">register
</a>
</body>
</html>

<!--var submitHandler = function(){-->
    <!--// ajax post .....-->
<!--}-->

<!--<form onsubmit={this.submit}>-->

<!--</form>-->


<!--<div >-->


<!--</div>-->